#export NVM_DIR=~/.nvm
#source $(brew --prefix nvm)/nvm.sh
#nvm use 0.12
export PRJ=$HOME/Projects
export SCRIPTS=$HOME/Local/script
export EDITOR=vim
export VIM_CMD=vim

alias mongod_start=mongod --dbpath $HOME/swamp/db
alias week='/bin/date +%V'

GEMBIN=$HOME/.gem/ruby/2.0.0/bin 
if [ -d $GEMBIN ]; then
    PATH="$GEMBIN:$PATH"
fi

if [ -d $SCRIPTS/z ]; then
  source $SCRIPTS/z/z.sh
fi

if [ -d /usr/local/bin ]; then
  PATH="/usr/local/bin:$PATH"
fi

#
file=$HOME/.profile.d/04_prj.sh
[ -r "$file" ] && [ -f "$file" ] && source "$file"
#file=$HOME/.profile.d/01_alias.sh
#[ -r "$file" ] && [ -f "$file" ] && source "$file"

PATH="$HOME/.zprezto:$PATH"
