export NVM_DIR=~/.nvm
source $(brew --prefix nvm)/nvm.sh
nvm use 0.12
export PRJ=$HOME/Projects
export SCRIPTS=$HOME/Scripts
GEMBIN=$HOME/.gem/ruby/2.0.0/bin 
if [ -d $GEMBIN ]; then
    PATH="$GEMBIN:$PATH"
fi
