export PRJ=$HOME/Projects
export SCRIPTS=$HOME/Local/script
export EDITOR=nvim
export VIM_CMD=nvim

GEMBIN=$HOME/.gem/ruby/2.0.0/bin 
if [ -d $GEMBIN ]; then
    PATH="$GEMBIN:$PATH"
fi

if [ -d $SCRIPTS/z ]; then
  source $SCRIPTS/z/z.sh
fi

if [ -d $SCRIPTS/bd ]; then
  alias bd=". $SCRIPTS/bd/bd -si"
fi

if [ -d /usr/local/bin ]; then
  PATH="/usr/local/bin:$PATH"
fi

#
file=$HOME/.profile.d/04_prj.sh
[ -r "$file" ] && [ -f "$file" ] && source "$file"
file=$HOME/.profile.d/01_alias.sh
[ -r "$file" ] && [ -f "$file" ] && source "$file"

PATH="$HOME/.zprezto:$PATH"
